@use 'variables' as v;

body {
    background-color: v.$primario;
}

button {
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    width: 15rem;
    height: 3rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
  }


