
.inputText {
    all: unset;
    color: var(--primarioOscuro);
    width: 100%;
    height: 100%;
    white-space: pre-wrap; 
    overflow-wrap: break-word;
}
.contenedor {
    display: flex;
    height: 100vh;
}
