
.contenedor {
    display: flex;
    padding: 0;
    height: 100vh;
    margin: 0;

}

.inputText {
    all: unset;
    color: var(--primarioOscuro);
    width: 100%;
    height: 100%;
    white-space: pre-wrap; 
    overflow-wrap: break-word;
}
