@use '../base/variables' as v;


.campo-cifrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 30rem;
    height: 30rem;
    border: 1px solid blue;
    margin: 100px;

}
.contenedor-cifrado {
    width: 30rem;
    height: 20rem;
    background-color: v.$blanco;
    color: v.$primarioOscuro;
    border: 8px solid v.$secundario;
    border-radius: 2rem;


    .inputText {
        margin-top: 40px;
        font-size: 25px;
        padding-left: 20px;
    }

    .inputText::placeholder {
        color: v.$secundarioClaro;
        font-size: 2rem;
    }
}
