@use '../base/variables' as v;


.campo-cifrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50rem;
    height: 50rem;
    border: 1px solid blue;
    margin: 100px;

}

.contenedor-cifrado {
    width: 50rem;
    height: 50rem;
    background-color: v.$blanco;
    color: v.$primarioOscuro;
    border: 8px solid v.$secundario;
    border-radius: 2rem;
    padding: 45px;
}