@use '../base/variables' as v;


.copiar {
    width: 100%;
    height: 100px;
    background-color: v.$secundario;
    color: v.$primarioOscuro;
    border: 1px solid v.$secundario;
    margin-top: 50px;
}
.copiar:hover {
    background-color: v.$secundarioClaro;
}