@use '../base/variables' as v;

.campo-descifrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 30rem;
    height: 30rem;
    border: 1px solid blue;
    margin: 100px;
}
.contenedor-descifrado {
    height: 20rem;
    width: 30rem;
    background-color: v.$blanco;
    color: v.$primarioOscuro;
    border-radius: 2rem;
    border: 8px solid v.$secundario;
}

.descifrar-textarea {

    .inputText {
        margin-top: 40px;
        font-size: 25px;
        color: v.$primarioOscuro;
        padding-left: 20px;


        .inputText::placeholder {
            
            color: v.$secundarioClaro;
        }
    }
}