@use '../base/variables' as v;


.cifrar--contenedor-botones {
    display: flex;
    width: 100%;
}

.encriptacion,
.guardado {
    background-color: v.$secundario;
    color: v.$primarioOscuro;
    margin: 10px;
}

.encriptacion {
    width: 100%;
}
.guardado {
    width: 20rem;
}

.encriptacion:hover,
.guardado:hover {
    background-color: v.$secundarioClaro;
}