@use '../base/variables' as v;

.campo-mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 30rem;
    height: 30rem;
    border: 1px solid blue;
    margin: 100px;

    h2 {
        text-align: center;
        margin: auto;
        color: v.$primarioOscuro;
    }
}